body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}
      #todo-error{
      color: red;
        font-size: 2em;
      }
.todo {
    position: absolute;
    bottom: 15%;
    right: 5%;
}
.hide{
  display: none;
}
.hover:hover + .hide{
display: block;
}
.bg-image {
width: 100vh;
height: 100vh;
}
.grey{
  color: grey;
}
